<section id="services">
<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
        <div class="col-sm-6">
  <div class="row">
        <div class="col-sm-12">
          <div>
<h2>Preencha todos os dados abaixo:</h2>
<br>

<% if notice.present? %>
    <p id="notice"><div class="alert alert-warning" role="alert"><%= notice %></div></p>
<% end %>

</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-inputs">
    <%= f.input :codigo_turma, label: 'Código da Turma', placeholder: 'Informe o código da turma', class: "form-control", required: true %>
    <%= f.input :nome_completo, label: 'Nome Completo', placeholder: 'Paulo dos Santos', class: "form-control", required: true %>
    <%= f.input :telefone, label: 'Celular', placeholder: '(24) 99999 9999', class: "form-control" %>
    <%= f.input :nascimento,  label: 'Data de Nascimento', as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 10, discard_day: false,
                              order: [:day, :month, :year] %>
    <%= f.input :email, placeholder: 'user@domain.com', class: "form-control", required: true %>
    <%= f.input :password, label: 'Senha', hint: 'No special characters.', class: "form-control", required: true %>
    <%= f.input :password_confirmation, label: 'Confirmação da senha', hint: 'No special characters.', class: "form-control", required: true %>
  </div>
</div>
</div>

<div>
  <br />
  <%= recaptcha_tags %>
  <br />
</div> 
  
<div class="row">
  <div class="col-sm-6">
    <div class="form-actions">
      <%= f.button :submit, "Matricular-se", class: 'btn btn-success btn-lg' %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-actions">
      <%= link_to "Voltar", :back, class: 'btn btn-warning btn-lg' %>
    </div>
  </div>
</div>
<% end %>

</div>
</div>

</div>
</div>
</div>
</section>
