<p id="notice"><%= notice %></p>

<h1>Respostas</h1>

<table>
  <thead>
    <tr>
      <th>Grupo</th>
      <th>Resposta</th>
      <th>Peso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @respostas.each do |resposta| %>
      <tr>
        <td><%= resposta.grupo %></td>
        <td><%= resposta.resposta %></td>
        <td><%= resposta.peso %></td>
        <td><%= link_to 'Show', resposta %></td>
        <td><%= link_to 'Edit', edit_resposta_path(resposta) %></td>
        <td><%= link_to 'Destroy', resposta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resposta', new_resposta_path %>
