<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

         <% if notice %>
           <div class='alert alert-warning'>
              <p id="notice"><%= notice %></p>
           </div>
         <% end %>

          <h1>Listagem das Disciplinas da <%= current_usuario.turma.curso.titulo %></h1>

          <table class='table table-striped'>
            <thead>
              <tr>
                <th>Disciplinas</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @aulas.each do |aula| %>
                <tr>
                  <td><%= aula.titulo %></td>
                  <td>
                     <%= link_to 'Acessar', '#', class: 'btn btn-success' %>
                  </td>
                </tr>
              <% end %>

            </tbody>
          </table>

          <br>

          <div class="digg_pagination">
              <div class='col-md-2'>
                <%= render 'shared/return' %>
              </div>
          </div>          

      </div>
    </div>
  </div>
</section>
