<section id="services">
<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
        <div class="col-sm-4">
  <div class="row">
        <div class="col-sm-12">
          <div>
				<h2>Esqueci a senha.</h2>
				<br>

				<% if notice.present? %>
				    <p id="notice"><div class="alert alert-warning" role="alert"><%= notice %></div></p>
				<% end %>

				</div>

				<div class="login-page">
				  <div class="form">
				    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
				      <%= devise_error_messages! %>
				      <%= f.hidden_field :reset_password_token %>
				      <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: 'Informe sua nova senha', class: "form-control" %>
				      <br>
				      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirme sua nova senha', class: "form-control" %>
				      <br>
				      <%= f.submit "Mude minha Senha", class: 'btn btn-primary btn-lg' %>
				    <% end %>
				  </div>
				</div>

				<%= render "devise/shared/links" %>

		</div>
  </div>

 
</div>
</div>

</div>
</div>
</div>
</section>





