<section id="services">
<div class="container">
  <div class="row">
    <div class="col-sm-12"><h4>Você está na <%= current_usuario.turma.curso.titulo %> - <%= link_to "Voltar a página inicial", root_path %></h4></div>
  </div>

   <% if notice %>
     <div class='alert alert-warning'>
        <p id="notice"><%= notice %></p>
     </div>
   <% end %>

  <div class="row">
            <div class="col-sm-4">
              <div class="media center">
                <div class="media-body">
                  <h3 class="media-heading">Biblioteca</h3>
                  <p><%= image_tag("library.png") %></p>
                  <p>Conteudo do curso.</p>
                  <%= link_to "Biblioteca", lista_disciplinas_path, class: "btn btn-lg btn-warning btn-block" %>                 
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="media center">
                  <div class="media-body">
                    <h3 class="media-heading">Meu Questionário</h3>
                    <p><%= image_tag("checked.png") %></p>
                    <p>Preencha o Caderno de Perguntas</p>
                    <%= link_to "Começar o Teste", caderno_respostas_path, class: "btn btn-lg btn-warning btn-block" %>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
              <div class="media center">
                <div class="media-body">
                  <h3 class="media-heading">Meus Dons</h3>
                  <p><%= image_tag("view.png") %></p>
                  <p>Consulte os seus dons</p>
                  <%= link_to "Consultar meus Dons", validar_processar_resultados_path, class: "btn btn-lg btn-warning btn-block" %>
                </div>
              </div>
            </div>
  </div>
    </div>
</section>
