<section id="services">
<div class="container">
  <div class="row">
    <div class="col-sm-12"><h4>Olá <%= current_usuario.nome_completo %>, atualize seus dados <%= link_to "aqui", edit_usuario_registration_path(id: current_usuario.id) %></h4></div>
  </div>
  <div class="row">

            <div class="col-sm-4">
              <div class="media center">
                <div class="media-body">
                  <h3 class="media-heading">Princípios da Fé</h3>
                  <p><%= image_tag("principios_fe.png") %></p>
                  <p>Ora, a fé é o firme fundamento das coisas que se esperam, e a prova das coisas que se não vêem.</p>
                  <% if current_usuario.turma.curso.sigla == 'PF' %>
                      <%= link_to "Princípios da Fé", "#", class: "btn btn-lg btn-roxo btn-block" %>
                  <% else %>
                      <%= link_to "Princípios da Fé", "#", class: "btn btn-lg btn-roxo btn-block disabled" %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="media center">
                <div class="media-body">
                  <h3 class="media-heading">Escola de Dons</h3>
                  <p><%= image_tag("escola_dons.png") %></p>
                  <p>A Escola de Dons irá te orientar e ensinar a identificar seus dons numa visão bíblica!</p>
                  <% if current_usuario.turma.curso.sigla == 'ED' %>
                      <%= link_to "Escola de Dons", escola_dons_path, class: "btn btn-lg btn-roxo btn-block" %>
                  <% else %>
                      <%= link_to "Escola de Dons", escola_dons_path, class: "btn btn-lg btn-roxo btn-block disabled" %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="media center">
                  <div class="media-body">
                    <h3 class="media-heading">Universidade da Vida</h3>
                    <p><%= image_tag("universidade_vida.png") %></p>
                    <p>A Universidade da Vida é um curso de nove semanas projetado para fortalecer o novo cristão na fé em Cristo. </p>
                  <% if current_usuario.turma.curso.sigla == 'UV' %>
                      <%= link_to "Universidade da Vida", "#", class: "btn btn-lg btn-roxo btn-block" %>
                  <% else %>
                      <%= link_to "Universidade da Vida", "#", class: "btn btn-lg btn-roxo btn-block disabled" %>
                  <% end %>
                  </div>
                </div>
            </div>

  </div>
    </div>
</section>
