<p id="notice"><%= notice %></p>

<h1>Dons</h1>

<table>
  <thead>
    <tr>
      <th>Nome dom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dons.each do |dom| %>
      <tr>
        <td><%= dom.nome_dom %></td>
        <td><%= link_to 'Show', dom %></td>
        <td><%= link_to 'Edit', edit_dom_path(dom) %></td>
        <td><%= link_to 'Destroy', dom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dom', new_dom_path %>
