<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

         <% if notice %>
           <div class='alert alert-warning'>
              <p id="notice"><%= notice %></p>
           </div>
         <% end %>

         <h1>Caderno de Respostas</h1>

          <br><br>

          <div class="digg_pagination">
              <div class='col-md-2'>
                <%= render 'shared/return' %>
              </div>
          </div>

          <br><br>

          <table class='table table-striped'>
            <thead>
              <tr>
                <th>Perguntas</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @caderno_respostas.each do |caderno| %>
                <tr>
                  <td><%= caderno.pergunta_id %> <%= caderno.pergunta.grupo.titulo_grupo %> <%= caderno.pergunta.titulo_pergunta %></td>
                  <td>
                    <%= if caderno.resposta.blank?
                           link_to 'Responder', edit_caderno_resposta_path(caderno), class: 'btn btn-success'
                        else
                           link_to 'Respondido', '', class: 'btn btn-default'
                        end %>
                  </td>
                </tr>
              <% end %>

            </tbody>
          </table>

          <br>

      </div>
    </div>
  </div>
</section>
