<section id="services" class="wisteria">
		<div class="container">
			<div class="row">
          <div class="col-sm-8">
  					<div class="row">
    						<div class="col-md-6 col-sm-6" id="optionalstuff">
    							<div class="media">
    								<div class="media-body">
    									<h3 class="media-heading">Bem-vindo</h3>
    									<p>Como posso descobrir,desenvolver e demonstrar meus dons espirituais?
O que vai acontecer se os ministérios  da minha igreja forem orientados pelos dons?
</p><p>Dom Espiritual é um atributo especial, dado pelo Espírito Santo, a cada membro do Corpo de Cristo, de acordo com a graça divina, para ser usado dentro do contexto do Corpo.
</p>
    								</div>
    							</div>
    						</div><!--/.col-md-6-->
    						<div class="col-md-6 col-sm-6"  id="optionalstuff">
    							<div class="media">
    								<div class="media-body">
    									<h3 class="media-heading">Apresentação dos Dons</h3>
    									<p>Criatividade artística,
                      Habilidade Manual,
                      Generosidade,
                      Hospitalidade,
                      Conhecimento,
                      Misericórdia,
                      Música,
                      Organização,
                      Pobreza voluntária,
                      Sabedoria,
                      Apóstolo,
                      Aconselhamento,
                      Evangelização,
                      Ajuda,
                      Liderança,
                      Missionário,
                      Serviço,
                      Pastoral,
                      Celibato e
                      Ensino.</p>
    								</div>
    							</div>
  						</div><!--/.col-md-6-->
  					</div>
  					<div class="row">
  						<div class="col-md-6 col-sm-6" id="optionalstuff">
  							<div class="media">
  								<div class="media-body">
  									<h3 class="media-heading">Manual do Usuário</h3>
  									<p>Antes de começar, leia o Manual do Usuário e conheça os procedimentos para utilizar o sistema.</p>
  									<br>
  								</div>
  							</div>
  						</div><!--/.col-md-6-->
  						<div class="col-md-6 col-sm-6" id="optionalstuff">
  							<div class="media">
  								<div class="media-body">
  									<h3 class="media-heading">Primeiro Acesso</h3>
  									<p>Para acessar o sistema você precisa matricular-se. Será necessário informar o código da turma, solicite-o na secretaria da igreja.</p>
  									<br>
  								</div>
  							</div>
  						</div><!--/.col-md-6-->
  					</div>
        </div>

				<div class="col-md-4 col-sm-12">

              <div class="col-sm-12 form-box">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              			<div class="login-form">

                      <h3>Entrar no Sistema</h3>

              				<div class="control-group">
                        <%= f.email_field :email, autofocus: true, class: 'form-control form-control-lg', placeholder: 'Informe o seu email' %>
              				</div>

              				<div class="control-group">
                        <%= f.password_field :password, autocomplete: "off", class: 'form-control form-control-lg', placeholder: 'Informe a sua senha' %>
              				</div>

                      <div class="control-group">
              				   <%= f.submit "Entrar", class: 'btn btn-lg' %>
                      </div>

                      <center>
                      <%= render "devise/shared/links" %>
                      </center>

              			</div>

                    <% end -%>

            </div>
			</div>
		</div>
  </div>

</section>
